<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Refloor Offline.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1.0</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>6179D3F817E001159E608D43AF9CEF8975C575F3</string>
				<key>dateExpires</key>
				<string>9/9/26</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6179D3F817E001159E608D43AF9CEF8975C575F3</string>
						<key>dateExpires</key>
						<string>9/9/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8JN2G36QM</string>
						<key>name</key>
						<string>Refloor LLC.</string>
					</dict>
					<key>versionNumber</key>
					<string>4.7.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6179D3F817E001159E608D43AF9CEF8975C575F3</string>
						<key>dateExpires</key>
						<string>9/9/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AlamofireObjectMapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8JN2G36QM</string>
						<key>name</key>
						<string>Refloor LLC.</string>
					</dict>
					<key>versionNumber</key>
					<string>5.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6179D3F817E001159E608D43AF9CEF8975C575F3</string>
						<key>dateExpires</key>
						<string>9/9/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CHRTextFieldFormatter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8JN2G36QM</string>
						<key>name</key>
						<string>Refloor LLC.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6179D3F817E001159E608D43AF9CEF8975C575F3</string>
						<key>dateExpires</key>
						<string>9/9/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Cryptor.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8JN2G36QM</string>
						<key>name</key>
						<string>Refloor LLC.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.32</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6179D3F817E001159E608D43AF9CEF8975C575F3</string>
						<key>dateExpires</key>
						<string>9/9/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CryptorECC.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8JN2G36QM</string>
						<key>name</key>
						<string>Refloor LLC.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6179D3F817E001159E608D43AF9CEF8975C575F3</string>
						<key>dateExpires</key>
						<string>9/9/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CryptorRSA.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8JN2G36QM</string>
						<key>name</key>
						<string>Refloor LLC.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.200</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6179D3F817E001159E608D43AF9CEF8975C575F3</string>
						<key>dateExpires</key>
						<string>9/9/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>DropDown.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8JN2G36QM</string>
						<key>name</key>
						<string>Refloor LLC.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6179D3F817E001159E608D43AF9CEF8975C575F3</string>
						<key>dateExpires</key>
						<string>9/9/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8JN2G36QM</string>
						<key>name</key>
						<string>Refloor LLC.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6179D3F817E001159E608D43AF9CEF8975C575F3</string>
						<key>dateExpires</key>
						<string>9/9/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAppCheckInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8JN2G36QM</string>
						<key>name</key>
						<string>Refloor LLC.</string>
					</dict>
					<key>versionNumber</key>
					<string>11.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6179D3F817E001159E608D43AF9CEF8975C575F3</string>
						<key>dateExpires</key>
						<string>9/9/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8JN2G36QM</string>
						<key>name</key>
						<string>Refloor LLC.</string>
					</dict>
					<key>versionNumber</key>
					<string>11.8.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6179D3F817E001159E608D43AF9CEF8975C575F3</string>
						<key>dateExpires</key>
						<string>9/9/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuthInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8JN2G36QM</string>
						<key>name</key>
						<string>Refloor LLC.</string>
					</dict>
					<key>versionNumber</key>
					<string>11.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6179D3F817E001159E608D43AF9CEF8975C575F3</string>
						<key>dateExpires</key>
						<string>9/9/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8JN2G36QM</string>
						<key>name</key>
						<string>Refloor LLC.</string>
					</dict>
					<key>versionNumber</key>
					<string>11.8.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6179D3F817E001159E608D43AF9CEF8975C575F3</string>
						<key>dateExpires</key>
						<string>9/9/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8JN2G36QM</string>
						<key>name</key>
						<string>Refloor LLC.</string>
					</dict>
					<key>versionNumber</key>
					<string>11.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6179D3F817E001159E608D43AF9CEF8975C575F3</string>
						<key>dateExpires</key>
						<string>9/9/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8JN2G36QM</string>
						<key>name</key>
						<string>Refloor LLC.</string>
					</dict>
					<key>versionNumber</key>
					<string>11.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6179D3F817E001159E608D43AF9CEF8975C575F3</string>
						<key>dateExpires</key>
						<string>9/9/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCrashlytics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8JN2G36QM</string>
						<key>name</key>
						<string>Refloor LLC.</string>
					</dict>
					<key>versionNumber</key>
					<string>11.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6179D3F817E001159E608D43AF9CEF8975C575F3</string>
						<key>dateExpires</key>
						<string>9/9/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseFirestore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8JN2G36QM</string>
						<key>name</key>
						<string>Refloor LLC.</string>
					</dict>
					<key>versionNumber</key>
					<string>11.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6179D3F817E001159E608D43AF9CEF8975C575F3</string>
						<key>dateExpires</key>
						<string>9/9/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseFirestoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8JN2G36QM</string>
						<key>name</key>
						<string>Refloor LLC.</string>
					</dict>
					<key>versionNumber</key>
					<string>11.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6179D3F817E001159E608D43AF9CEF8975C575F3</string>
						<key>dateExpires</key>
						<string>9/9/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8JN2G36QM</string>
						<key>name</key>
						<string>Refloor LLC.</string>
					</dict>
					<key>versionNumber</key>
					<string>11.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6179D3F817E001159E608D43AF9CEF8975C575F3</string>
						<key>dateExpires</key>
						<string>9/9/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8JN2G36QM</string>
						<key>name</key>
						<string>Refloor LLC.</string>
					</dict>
					<key>versionNumber</key>
					<string>11.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6179D3F817E001159E608D43AF9CEF8975C575F3</string>
						<key>dateExpires</key>
						<string>9/9/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseRemoteConfigInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8JN2G36QM</string>
						<key>name</key>
						<string>Refloor LLC.</string>
					</dict>
					<key>versionNumber</key>
					<string>11.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6179D3F817E001159E608D43AF9CEF8975C575F3</string>
						<key>dateExpires</key>
						<string>9/9/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseSessions.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8JN2G36QM</string>
						<key>name</key>
						<string>Refloor LLC.</string>
					</dict>
					<key>versionNumber</key>
					<string>11.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6179D3F817E001159E608D43AF9CEF8975C575F3</string>
						<key>dateExpires</key>
						<string>9/9/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseSharedSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8JN2G36QM</string>
						<key>name</key>
						<string>Refloor LLC.</string>
					</dict>
					<key>versionNumber</key>
					<string>11.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6179D3F817E001159E608D43AF9CEF8975C575F3</string>
						<key>dateExpires</key>
						<string>9/9/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8JN2G36QM</string>
						<key>name</key>
						<string>Refloor LLC.</string>
					</dict>
					<key>versionNumber</key>
					<string>4.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6179D3F817E001159E608D43AF9CEF8975C575F3</string>
						<key>dateExpires</key>
						<string>9/9/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8JN2G36QM</string>
						<key>name</key>
						<string>Refloor LLC.</string>
					</dict>
					<key>versionNumber</key>
					<string>10.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6179D3F817E001159E608D43AF9CEF8975C575F3</string>
						<key>dateExpires</key>
						<string>9/9/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8JN2G36QM</string>
						<key>name</key>
						<string>Refloor LLC.</string>
					</dict>
					<key>versionNumber</key>
					<string>8.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6179D3F817E001159E608D43AF9CEF8975C575F3</string>
						<key>dateExpires</key>
						<string>9/9/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8JN2G36QM</string>
						<key>name</key>
						<string>Refloor LLC.</string>
					</dict>
					<key>versionNumber</key>
					<string>6.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6179D3F817E001159E608D43AF9CEF8975C575F3</string>
						<key>dateExpires</key>
						<string>9/9/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>JWTCodable.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8JN2G36QM</string>
						<key>name</key>
						<string>Refloor LLC.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6179D3F817E001159E608D43AF9CEF8975C575F3</string>
						<key>dateExpires</key>
						<string>9/9/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>KituraContracts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8JN2G36QM</string>
						<key>name</key>
						<string>Refloor LLC.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6179D3F817E001159E608D43AF9CEF8975C575F3</string>
						<key>dateExpires</key>
						<string>9/9/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>LoggerAPI.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8JN2G36QM</string>
						<key>name</key>
						<string>Refloor LLC.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.9.200</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6179D3F817E001159E608D43AF9CEF8975C575F3</string>
						<key>dateExpires</key>
						<string>9/9/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Logging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8JN2G36QM</string>
						<key>name</key>
						<string>Refloor LLC.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6179D3F817E001159E608D43AF9CEF8975C575F3</string>
						<key>dateExpires</key>
						<string>9/9/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MaterialShowcase.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8JN2G36QM</string>
						<key>name</key>
						<string>Refloor LLC.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6179D3F817E001159E608D43AF9CEF8975C575F3</string>
						<key>dateExpires</key>
						<string>9/9/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ObjectMapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8JN2G36QM</string>
						<key>name</key>
						<string>Refloor LLC.</string>
					</dict>
					<key>versionNumber</key>
					<string>3.5.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6179D3F817E001159E608D43AF9CEF8975C575F3</string>
						<key>dateExpires</key>
						<string>9/9/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ObjectMapper_Realm.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8JN2G36QM</string>
						<key>name</key>
						<string>Refloor LLC.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6179D3F817E001159E608D43AF9CEF8975C575F3</string>
						<key>dateExpires</key>
						<string>9/9/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>PayCardsRecognizer.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8JN2G36QM</string>
						<key>name</key>
						<string>Refloor LLC.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6179D3F817E001159E608D43AF9CEF8975C575F3</string>
						<key>dateExpires</key>
						<string>9/9/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Promises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8JN2G36QM</string>
						<key>name</key>
						<string>Refloor LLC.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6179D3F817E001159E608D43AF9CEF8975C575F3</string>
						<key>dateExpires</key>
						<string>9/9/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Realm.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8JN2G36QM</string>
						<key>name</key>
						<string>Refloor LLC.</string>
					</dict>
					<key>versionNumber</key>
					<string>10.46.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6179D3F817E001159E608D43AF9CEF8975C575F3</string>
						<key>dateExpires</key>
						<string>9/9/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RealmSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8JN2G36QM</string>
						<key>name</key>
						<string>Refloor LLC.</string>
					</dict>
					<key>versionNumber</key>
					<string>10.46.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6179D3F817E001159E608D43AF9CEF8975C575F3</string>
						<key>dateExpires</key>
						<string>9/9/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RecaptchaInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8JN2G36QM</string>
						<key>name</key>
						<string>Refloor LLC.</string>
					</dict>
					<key>versionNumber</key>
					<string>100.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6179D3F817E001159E608D43AF9CEF8975C575F3</string>
						<key>dateExpires</key>
						<string>9/9/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8JN2G36QM</string>
						<key>name</key>
						<string>Refloor LLC.</string>
					</dict>
					<key>versionNumber</key>
					<string>4.4.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6179D3F817E001159E608D43AF9CEF8975C575F3</string>
						<key>dateExpires</key>
						<string>9/9/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8JN2G36QM</string>
						<key>name</key>
						<string>Refloor LLC.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6179D3F817E001159E608D43AF9CEF8975C575F3</string>
						<key>dateExpires</key>
						<string>9/9/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftJWT.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8JN2G36QM</string>
						<key>name</key>
						<string>Refloor LLC.</string>
					</dict>
					<key>versionNumber</key>
					<string>3.6.200</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6179D3F817E001159E608D43AF9CEF8975C575F3</string>
						<key>dateExpires</key>
						<string>9/9/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>WeScan.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8JN2G36QM</string>
						<key>name</key>
						<string>Refloor LLC.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6179D3F817E001159E608D43AF9CEF8975C575F3</string>
						<key>dateExpires</key>
						<string>9/9/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Zip.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8JN2G36QM</string>
						<key>name</key>
						<string>Refloor LLC.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6179D3F817E001159E608D43AF9CEF8975C575F3</string>
						<key>dateExpires</key>
						<string>9/9/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>absl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8JN2G36QM</string>
						<key>name</key>
						<string>Refloor LLC.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.20240116.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6179D3F817E001159E608D43AF9CEF8975C575F3</string>
						<key>dateExpires</key>
						<string>9/9/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8JN2G36QM</string>
						<key>name</key>
						<string>Refloor LLC.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.65.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6179D3F817E001159E608D43AF9CEF8975C575F3</string>
						<key>dateExpires</key>
						<string>9/9/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>grpcpp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8JN2G36QM</string>
						<key>name</key>
						<string>Refloor LLC.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.65.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6179D3F817E001159E608D43AF9CEF8975C575F3</string>
						<key>dateExpires</key>
						<string>9/9/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8JN2G36QM</string>
						<key>name</key>
						<string>Refloor LLC.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.22.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6179D3F817E001159E608D43AF9CEF8975C575F3</string>
						<key>dateExpires</key>
						<string>9/9/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>libwebp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8JN2G36QM</string>
						<key>name</key>
						<string>Refloor LLC.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6179D3F817E001159E608D43AF9CEF8975C575F3</string>
						<key>dateExpires</key>
						<string>9/9/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8JN2G36QM</string>
						<key>name</key>
						<string>Refloor LLC.</string>
					</dict>
					<key>versionNumber</key>
					<string>3.30910.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6179D3F817E001159E608D43AF9CEF8975C575F3</string>
						<key>dateExpires</key>
						<string>9/9/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>openssl_grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8JN2G36QM</string>
						<key>name</key>
						<string>Refloor LLC.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.36</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>F8JN2G36QM.com.refloor.salesapp</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>F8JN2G36QM</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Refloor.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>cda82844-7eee-4879-a290-fa30b8002da0</string>
				<key>dateExpires</key>
				<string>9/9/26</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.refloor.salesapp</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>F8JN2G36QM</string>
				<key>name</key>
				<string>Refloor LLC.</string>
			</dict>
			<key>versionNumber</key>
			<string>3.3.4</string>
		</dict>
	</array>
</dict>
</plist>
