<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>181916916598-ljhoo3g214ml1qlu3lpkmqmdihm4cioo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.181916916598-ljhoo3g214ml1qlu3lpkmqmdihm4cioo</string>
	<key>API_KEY</key>
	<string>AIzaSyCtxylmfAbt2LH1olRY6TkWP_IKOm8emY4</string>
	<key>GCM_SENDER_ID</key>
	<string>181916916598</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oneteamus.tikkit</string>
	<key>PROJECT_ID</key>
	<string>refloor-d2cdc</string>
	<key>STORAGE_BUCKET</key>
	<string>refloor-d2cdc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:181916916598:ios:1952e4298c78586cb97857</string>
</dict>
</plist>